# Mac files
.DS_Store

# JSXUI
.jsxui

# NPM
.npm
node_modules

# Yarn
.yarn-integrity
yarn-debug.log*
yarn-error.log*

# ESLint
.eslintcache

# NextJS
.next
out

# General
*.log
.env
coverage
dist

# Contentlayer
.contentlayer
